section {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  margin: 0 auto;
  margin-left: 50px;
  padding-top: 70px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}

.contacts__content {
  padding-top: 65px;
  width: 570px;
}

p {
  position: relative;
  margin-bottom: 45px;
  padding-left: 80px;
}

p::before {
  content: "";
  position: absolute;
  left: 15px;
  top: -10px;
  width: 45px;
  height: 45px;
  background-image: url('../img/mark.svg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacs__form {
  border: 1px solid #1b6eb8;
  border-radius: 10px;
  width: 100%;
  max-width: 440px;
  background-color: #fff;
}

form {
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

h3 {
  padding: 5px 0 10px 5px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

input {
  display: block;
  margin-bottom: 25px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 29px 0 30px 20px;
  width: 100%;
}

input::placeholder {
  font-size: 14px;
  line-height: 1.1;
  color: hsl(0, 0%, 58%);
}

button {
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  padding: 21px 25px 20px;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  background-color: #1b6eb8;
  cursor: pointer;
}

span {
  margin-left: 5px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}
