<section class="contacts" style="background-image: url('img/contacts-bg.jpg');">
  <div class="container">

    <h2 class="contacts__title title">
      Полный цикл строительства — от проектирования до стройготовности
    </h2>

    <div class="contacts__inner">

      <div class="contacts__content">
        <p class="contacts__text">
          Они подходят для установки и эксплуатации на любом виде грунта.
        </p>

        <p class="contacts__text">
          Универсальность назначения, такие постройки подойдут для фермы, магазина, автомойки и так далее.
        </p>

        <p class="contacts__text">
          Современные технологии и оборудование позволяют возвести металлоконструкции,
          которые легко монтируются, демонтируются, обладают мобильной и простой конструкцией.
        </p>

        <p class="contacts__text">
          Промышленные объекты металлоконструкции легко переносят негативное воздействие
          окружающей среды, такое как: перепады температуры, высокую влажность, осадки и
          так далее. Средний срок исправной эксплуатации от 50 лет, кроме того, металл
          дополнительно покрывается цинковым покрытием.
        </p>

        <p class="contacts__text">
          Важное отличие строительства промышленных зданий – цена. Оно обходится
          существенно дешевле капитального строительства.
        </p>

      </div>

      <div class="contacs__form">
        <form class="form" action="#">
          <h3 class="form__title">
            Напишите нам, мы рассчитаем для вас смету бесплатно
          </h3>

          <input type="text" class="form__input" placeholder="Ваше имя">
          <input type="text" class="form__input" placeholder="Ваш телефон">
          <input type="text" class="form__input" placeholder="Ваш email">

          <button class="form__button" type="submit">
            Получить расчет
          </button>

          <p class="form__text">
            Нажимая на кнопку, вы даете согласие на обработку своих персональных
            данных и соглашаетесь с Пользовательским соглашением
          </p>
        </form>
      </div>

    </div>
  </div>
</section>





